h1, h2 {
  font-family: 'Varela Round', sans-serif; }

.jumbotron {
  margin: 0;
  padding: 20px;
  background-image: linear-gradient(to right, #faa508, black);
  color: white; }

.navbar {
  background-color: black; }

footer {
  background-image: linear-gradient(#faa508, white);
  padding: 20px 0; }

.panel {
  border-radius: 25px;
  border: solid 2px #faa508;
  padding: 20px;
  width: 200px;
  height: 150px; }

.modal-header {
  margin: 0;
  padding: 20px;
  background-image: linear-gradient(to left, #faa508, black);
  color: white; }

.card {
  border: solid 4px #faa508; }
